
bots.json
waifuGames/server/instances.json
waifuGames/server/instances.json
/waifuGames/node_modules
/waifuGames/node_modules
/waifuGames/node_modules
/waifuGames/node_modules/.vite/deps
waifuGames/server/instances.json
